@model Ames.Entities.EFileInfo
@{
    ViewBag.Title = "Home Page";
}

@if (Model == null) { 
<div>
    <h2>Error in Request URL</h2>
    <h3>Some required field(s) are empty</h3>
    
</div>
} else {

    <div>
        @Html.DisplayForModel(Model)

    </div>

}
